.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    }
    .popup-content {
    position: fixed;
    top: 110px; /* Starts below the header */
    left: -100%;
    /* height: calc(100% - 150px);  */
    width: 300px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px; /* Adds bottom margin */
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease, opacity 0.5s ease; /* Add fade effect */
    opacity: 0; /* Start hidden */

    }
    .popup-content.slide-in.fade-in{
    left:10px;
    }

    .popup-content.slide-in {
        left: 0px;
        border-radius:20px; /* Rounded corners */
    }

    .popup-content.fade-in {
        opacity: 1; /* Fade-in effect */
    }

    .btn {
        cursor: pointer;

    }
    .closePopup{
        left: -100px;
        background-color: #dc3545;
        font-size:20px;
        cursor: pointer;
    }
    .close-button {
        position: absolute;
        top: 10px;
        left: 10px; /* Aligns the button to the left */
        background-color: #dc3545; /* Bootstrap btn-danger color */
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .close-button i {
        margin: 0;
    }